.chancetext {

}

.text {
  font-size: 112px;
}

.headercontainer {
  width: 650px;
  margin: auto;
}

.text2 {
  width: 900px;
  margin: auto;
  font-size: 100px
}

.cube-image {
  margin-left: 350px;
}

.button-container {
  margin-left: 550px;
}
.picture{
  width: 800px;
  height: 600px;
  margin-left: 300px;
}
.clicker{
  margin-left: 600px;
}
